@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@font-face {
  font-family: "Android";
  src: url("../fonts/idroid.otf") format("opentype"); /* Caminho para o arquivo */
  font-weight: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
  --cor0: #ebe5c5;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;

  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: "Bebas Neue", sans-serif;
  --fonte-android: "Android", cursive;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--cor0);
}

a.externo::after {
  content: "\1F517";
}

header {
  background: linear-gradient(to bottom, var(--cor2), var(--cor5));
  color: white;
  min-height: 150px;
  text-align: center;
  padding-top: 40px;
}

header h1 {
  color: white;
  font-family: var(--fonte-destaque);
  font-weight: normal;
  font-size: 3em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

header p {
  font-family: var(--fonte-padrao);
  font-size: 1.2em;
  max-width: 500px;
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
  padding-bottom: 20px;
}

nav {
  background-color: var(--cor5);
  padding: 10px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.336);
  list-style: none;
}

nav > a {
  list-style: none;
  color: var(--cor1);
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
}

nav > a:hover {
  color: var(--cor5);
  background-color: #27bb6291;
  border-radius: 5px;
  transition-duration: 0.4s;
}

main a {
  text-decoration: none;
  font-weight: bold;
  color: var(--cor5);
  padding: 2px 5px;
  background-color: var(--cor1);
}

main a:hover {
  text-decoration: underline;
  color: var(--cor4);
}

main {
  margin: auto;
  min-width: 300px;
  max-width: 800px;
  padding: 20px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.247) 5px 5px 5px;
}

main p {
  text-indent: 30px;
  margin: 15px 0px;
  text-align: justify;
  line-height: 1.2em;
  font-size: 1em;
}

main strong {
  font-weight: bold;
  color: var(--cor4);
  padding: 2px 5px;
}

main h1 {
  font-family: var(--fonte-android);
  font-size: 1.8em;
  font-weight: normal;
  color: var(--cor5);
}

main h2 {
  color: var(--cor4);
  background-image: linear-gradient(to right, var(--cor1), transparent);
  font-family: var(--fonte-android);
  font-size: 1.3em;
  font-weight: normal;
  text-indent: 8px;
}

main img {
  width: 100%;
}

main img.pequena {
  max-width: 350px;
  display: block;
  margin: auto;
}

div.video {
  background-color: var(--cor5);
  margin: 0px -20px 30px -20px;
  padding: 20px;
  padding-bottom: 56.5%;
  position: relative;
}

div.video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

aside {
  background-color: var(--cor1);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.363);
}

aside > h3 {
  background-color: var(--cor4);
  color: white;
  padding: 10px;
  margin: -10px -10px 0px -10px;
  border-radius: 10px 10px 0px 0px;
}

aside > ul {
  list-style-position: inside;
  list-style-type: "\2714\00A0\00A0";
  columns: 2;
}

footer {
  text-align: center;
  padding: 5px;
  color: white;
  font-size: 0.8em;
  background-color: var(--cor5);
}
